<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MultiFileUpload</display-name>
  <!-- 处理文件的Servlet -->
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.by.upload.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/uploadify/upload</url-pattern>
  </servlet-mapping>
  <!-- 处理检查文件是否已经存在的Servlet -->
  <servlet>
    <servlet-name>checkExistSvl</servlet-name>
    <servlet-class>com.by.upload.checkExistSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkExistSvl</servlet-name>
    <url-pattern>/uploadify/checkExist</url-pattern>
  </servlet-mapping>
  <!-- 欢迎文件 -->
   <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>